@charset "UTF-8";

body {
	width: unset;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 8px;
  width:85%;
  color: #384B4E;
}

span {
  font-size: 18px;
  margin-bottom: 35px;
  width:85%;
  color: #848484;
}

div {
	width: 100%;
	height: 100vh;
}

div.left {
	width: 35%;
	float: left;
	box-sizing: border-box;
}

div.right {
	width: 65%;
	float: right;
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: #f3f6f8;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  height: 100%;
}

img.left-top {
    display: flex;
    width: 50%;
    margin-bottom: 50px;
    align-items: center;
  	justify-content: center;
}

input {
  border: none;
  border-bottom: 1px solid #676767;
  padding: 15px 15px;
  margin: 16px 0;
  width: 85%;
  color: #848484;
  font-size: 15px;
}

button {
  border-radius: 10px;
  border: 1px solid #3E4FBA;
  background-color: #3E4FBA;
  width:87%;
  color: #FFFFFF;
  font-size: 18px;
  padding: 20px 45px;
  margin: 45px 0;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1408px){
	div {
		width: 1408px;
		height: 96vh;
	}
}

@media screen and (max-height: 896px){
	div {
		width: 100%;
		height: 896px;
	}
}

@media (max-width: 512px){
	div {
		width: 478px;
		height: 98vh;
	}
	
	div.left{
		width: 100%;
		box-sizing: border-box;
	}
	
	div.right {
		display:none;
	}
}

@media screen and (max-height: 896px) and (max-width: 1408px) and (min-width:512px){
	div {
		width: 1408px;
		height: 896px;
	}
}

@media screen and (max-height: 896px) and (max-width: 512px){
	div {
		width: 461px;
		height: 896px;
	}
	
	div.left{
		width: 100%;
		box-sizing: border-box;
	}
	
	div.right {
		display:none;
	}
}
}
